/*
Custom Style
*/

.woocommerce .col2-set, .woocommerce-page .col2-set {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
	
@media (min-width: 1200px){	

}

@media (min-width: 768px){	
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (min-width: 1230px) and (max-width: 1280px){

}

@media (min-width: 1200px) and (max-width: 1230px){

}

@media (max-width: 1199px){	

}

@media (min-width: 992px) and (max-width: 1080px){

}

@media (max-width: 992px){	
	
}

@media (min-width: 768px) and (max-width: 992px){	
	
}

@media (max-width: 768px){
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (max-width: 468px){	

}