<span style='color: #000' title='Frames'>  1104</span><span style='color: #009' title='Memory'>  62464.00 KB</span><span style='color: #900' title='Time'>    440.22 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />