/**************************
   Fonts
***************************/
@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/avenir/AvenirLTStd-Roman.otf');
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/avenir/AvenirLTStd-Book.otf');
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/avenir/Avenir-Medium.otf');
}

@font-face {
    font-family: 'Avenir-Medium';
    font-style: oblique;
    src: url('../fonts/avenir/Avenir-MediumOblique.otf');
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/avenir/Avenir-Light.otf');
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/avenir/AvenirLTStd-Black.otf');
}

@font-face {
    font-family: 'Avenir-Black';
    font-style: oblique;
    src: url('../fonts/avenir/Avenir-BlackOblique.otf');
}

body {font-family: 'Avenir-Roman';}

.avenir-black {font-family: 'Avenir-Black';}
.avenir-medium {font-family: 'Avenir-Medium';}
.avenir-book {font-family: 'Avenir-Book';}
.avenir-light {font-family: 'Avenir-Light';}
.avenir-roman {font-family: 'Avenir-Roman';}

.sans-serif {font-family: Arial, Helvetica, sans-serif;}

.oblique{font-style: oblique;}

/*responsive-font*/
.size-01vw{font-size: 1vw;}
.size-02vw{font-size: 2vw;}
.size-03vw{font-size: 3vw;}
.size-04vw{font-size: 4vw;}
.size-05vw{font-size: 5vw;}
.size-06vw{font-size: 6vw;}
.size-07vw{font-size: 7vw;}
.size-08vw{font-size: 8vw;}
.size-09vw{font-size: 9vw;}
.size-10vw{font-size: 10vw;}
.size-11vw{font-size: 11vw;}
.size-12vw{font-size: 12vw;}
.size-13vw{font-size: 13vw;}
.size-14vw{font-size: 14vw;}
.size-15vw{font-size: 15vw;}
.size-16vw{font-size: 16vw;}
.size-17vw{font-size: 17vw;}
.size-18vw{font-size: 18vw;}
.size-19vw{font-size: 19vw;}
.size-20vw{font-size: 20vw;}

/*Sizes*/
.size-08{font-size: 8px;}
.size-09{font-size: 9px;}
.size-10{font-size: 10px;}
.size-11{font-size: 11px;}
.size-12{font-size: 12px;}
.size-13{font-size: 13px;}
.size-14{font-size: 14px;}
.size-15{font-size: 15px;}
.size-16{font-size: 16px;}
.size-17{font-size: 17px;}
.size-18{font-size: 18px;}
.size-19{font-size: 19px;}
.size-20{font-size: 20px;}
.size-21{font-size: 21px;}
.size-22{font-size: 22px;}
.size-23{font-size: 23px;}
.size-24{font-size: 24px;}
.size-25{font-size: 25px;}
.size-26{font-size: 26px;}
.size-27{font-size: 27px;}
.size-28{font-size: 28px;}
.size-29{font-size: 29px;}
.size-30{font-size: 30px;}
.size-31{font-size: 31px;}
.size-32{font-size: 32px;}
.size-33{font-size: 33px;}
.size-34{font-size: 34px;}
.size-35{font-size: 35px;}
.size-36{font-size: 36px;}
.size-37{font-size: 37px;}
.size-38{font-size: 38px;}
.size-39{font-size: 39px;}
.size-40{font-size: 40px;}
.size-42{font-size: 42px;}
.size-44{font-size: 44px;}
.size-46{font-size: 46px;}
.size-48{font-size: 48px;}
.size-50{font-size: 50px;}
.size-60{font-size: 60px;}
.size-68{font-size: 68px;}
.size-70{font-size: 70px;}
.size-80{font-size: 80px;}
.size-90{font-size: 90px;}
.size-100{font-size: 100px;}

@media (min-width: 375px){

    .size-xs-08{font-size: 8px;}
    .size-xs-09{font-size: 9px;}
    .size-xs-10{font-size: 10px;}
    .size-xs-11{font-size: 11px;}
    .size-xs-12{font-size: 12px;}
    .size-xs-13{font-size: 13px;}
    .size-xs-14{font-size: 14px;}
    .size-xs-15{font-size: 15px;}
    .size-xs-16{font-size: 16px;}
    .size-xs-17{font-size: 17px;}
    .size-xs-18{font-size: 18px;}
    .size-xs-19{font-size: 19px;}
    .size-xs-20{font-size: 20px;}
    .size-xs-21{font-size: 21px;}
    .size-xs-22{font-size: 22px;}
    .size-xs-23{font-size: 23px;}
    .size-xs-24{font-size: 24px;}
    .size-xs-25{font-size: 25px;}
    .size-xs-26{font-size: 26px;}
    .size-xs-27{font-size: 27px;}
    .size-xs-28{font-size: 28px;}
    .size-xs-29{font-size: 29px;}
    .size-xs-30{font-size: 30px;}
    .size-xs-31{font-size: 31px;}
    .size-xs-32{font-size: 32px;}
    .size-xs-33{font-size: 33px;}
    .size-xs-34{font-size: 34px;}
    .size-xs-35{font-size: 35px;}
    .size-xs-36{font-size: 36px;}
    .size-xs-37{font-size: 37px;}
    .size-xs-38{font-size: 38px;}
    .size-xs-39{font-size: 39px;}
    .size-xs-40{font-size: 40px;}
    .size-xs-42{font-size: 42px;}
    .size-xs-44{font-size: 44px;}
    .size-xs-46{font-size: 46px;}
    .size-xs-48{font-size: 48px;}
    .size-xs-50{font-size: 50px;}
    .size-xs-60{font-size: 60px;}
    .size-xs-70{font-size: 70px;}
    .size-xs-80{font-size: 80px;}
    .size-xs-90{font-size: 90px;}
    .size-xs-100{font-size: 100px;}
}

@media (min-width: 576px){

    .size-sm-08{font-size: 8px;}
    .size-sm-09{font-size: 9px;}
    .size-sm-10{font-size: 10px;}
    .size-sm-11{font-size: 11px;}
    .size-sm-12{font-size: 12px;}
    .size-sm-13{font-size: 13px;}
    .size-sm-14{font-size: 14px;}
    .size-sm-15{font-size: 15px;}
    .size-sm-16{font-size: 16px;}
    .size-sm-17{font-size: 17px;}
    .size-sm-18{font-size: 18px;}
    .size-sm-19{font-size: 19px;}
    .size-sm-20{font-size: 20px;}
    .size-sm-21{font-size: 21px;}
    .size-sm-22{font-size: 22px;}
    .size-sm-23{font-size: 23px;}
    .size-sm-24{font-size: 24px;}
    .size-sm-25{font-size: 25px;}
    .size-sm-26{font-size: 26px;}
    .size-sm-27{font-size: 27px;}
    .size-sm-28{font-size: 28px;}
    .size-sm-29{font-size: 29px;}
    .size-sm-30{font-size: 30px;}
    .size-sm-31{font-size: 31px;}
    .size-sm-32{font-size: 32px;}
    .size-sm-33{font-size: 33px;}
    .size-sm-34{font-size: 34px;}
    .size-sm-35{font-size: 35px;}
    .size-sm-36{font-size: 36px;}
    .size-sm-37{font-size: 37px;}
    .size-sm-38{font-size: 38px;}
    .size-sm-39{font-size: 39px;}
    .size-sm-40{font-size: 40px;}
    .size-sm-42{font-size: 42px;}
    .size-sm-44{font-size: 44px;}
    .size-sm-46{font-size: 46px;}
    .size-sm-48{font-size: 48px;}
    .size-sm-50{font-size: 50px;}
    .size-sm-60{font-size: 60px;}
    .size-sm-70{font-size: 70px;}
    .size-sm-80{font-size: 80px;}
    .size-sm-90{font-size: 90px;}
    .size-sm-100{font-size: 100px;}
}

@media (min-width: 768px){
    .size-md-08{font-size: 8px;}
    .size-md-09{font-size: 9px;}
    .size-md-10{font-size: 10px;}
    .size-md-11{font-size: 11px;}
    .size-md-12{font-size: 12px;}
    .size-md-13{font-size: 13px;}
    .size-md-14{font-size: 14px;}
    .size-md-15{font-size: 15px;}
    .size-md-16{font-size: 16px;}
    .size-md-17{font-size: 17px;}
    .size-md-18{font-size: 18px;}
    .size-md-19{font-size: 19px;}
    .size-md-20{font-size: 20px;}
    .size-md-21{font-size: 21px;}
    .size-md-22{font-size: 22px;}
    .size-md-23{font-size: 23px;}
    .size-md-24{font-size: 24px;}
    .size-md-25{font-size: 25px;}
    .size-md-26{font-size: 26px;}
    .size-md-27{font-size: 27px;}
    .size-md-28{font-size: 28px;}
    .size-md-29{font-size: 29px;}
    .size-md-30{font-size: 30px;}
    .size-md-31{font-size: 31px;}
    .size-md-32{font-size: 32px;}
    .size-md-33{font-size: 33px;}
    .size-md-34{font-size: 34px;}
    .size-md-35{font-size: 35px;}
    .size-md-36{font-size: 36px;}
    .size-md-37{font-size: 37px;}
    .size-md-38{font-size: 38px;}
    .size-md-39{font-size: 39px;}
    .size-md-40{font-size: 40px;}
    .size-md-42{font-size: 42px;}
    .size-md-44{font-size: 44px;}
    .size-md-46{font-size: 46px;}
    .size-md-48{font-size: 48px;}
    .size-md-50{font-size: 50px;}
    .size-md-60{font-size: 60px;}
    .size-md-70{font-size: 70px;}
    .size-md-80{font-size: 80px;}
    .size-md-90{font-size: 90px;}
    .size-md-100{font-size: 100px;}
}


@media (min-width: 992px){
    .size-lg-08{font-size: 8px;}
    .size-lg-09{font-size: 9px;}
    .size-lg-10{font-size: 10px;}
    .size-lg-11{font-size: 11px;}
    .size-lg-12{font-size: 12px;}
    .size-lg-13{font-size: 13px;}
    .size-lg-14{font-size: 14px;}
    .size-lg-15{font-size: 15px;}
    .size-lg-16{font-size: 16px;}
    .size-lg-17{font-size: 17px;}
    .size-lg-18{font-size: 18px;}
    .size-lg-19{font-size: 19px;}
    .size-lg-20{font-size: 20px;}
    .size-lg-21{font-size: 21px;}
    .size-lg-22{font-size: 22px;}
    .size-lg-23{font-size: 23px;}
    .size-lg-24{font-size: 24px;}
    .size-lg-25{font-size: 25px;}
    .size-lg-26{font-size: 26px;}
    .size-lg-27{font-size: 27px;}
    .size-lg-28{font-size: 28px;}
    .size-lg-29{font-size: 29px;}
    .size-lg-30{font-size: 30px;}
    .size-lg-31{font-size: 31px;}
    .size-lg-32{font-size: 32px;}
    .size-lg-33{font-size: 33px;}
    .size-lg-34{font-size: 34px;}
    .size-lg-35{font-size: 35px;}
    .size-lg-36{font-size: 36px;}
    .size-lg-37{font-size: 37px;}
    .size-lg-38{font-size: 38px;}
    .size-lg-39{font-size: 39px;}
    .size-lg-40{font-size: 40px;}
    .size-lg-42{font-size: 42px;}
    .size-lg-44{font-size: 44px;}
    .size-lg-46{font-size: 46px;}
    .size-lg-48{font-size: 48px;}
    .size-lg-50{font-size: 50px;}
    .size-lg-60{font-size: 60px;}
    .size-lg-70{font-size: 70px;}
    .size-lg-80{font-size: 80px;}
    .size-lg-90{font-size: 90px;}
    .size-lg-100{font-size: 100px;}
}

@media (min-width: 1200px) {
    .size-xl-08{font-size: 8px;}
    .size-xl-09{font-size: 9px;}
    .size-xl-10{font-size: 10px;}
    .size-xl-11{font-size: 11px;}
    .size-xl-12{font-size: 12px;}
    .size-xl-13{font-size: 13px;}
    .size-xl-14{font-size: 14px;}
    .size-xl-15{font-size: 15px;}
    .size-xl-16{font-size: 16px;}
    .size-xl-17{font-size: 17px;}
    .size-xl-18{font-size: 18px;}
    .size-xl-19{font-size: 19px;}
    .size-xl-20{font-size: 20px;}
    .size-xl-21{font-size: 21px;}
    .size-xl-22{font-size: 22px;}
    .size-xl-23{font-size: 23px;}
    .size-xl-24{font-size: 24px;}
    .size-xl-25{font-size: 25px;}
    .size-xl-26{font-size: 26px;}
    .size-xl-27{font-size: 27px;}
    .size-xl-28{font-size: 28px;}
    .size-xl-29{font-size: 29px;}
    .size-xl-30{font-size: 30px;}
    .size-xl-31{font-size: 31px;}
    .size-xl-32{font-size: 32px;}
    .size-xl-33{font-size: 33px;}
    .size-xl-34{font-size: 34px;}
    .size-xl-35{font-size: 35px;}
    .size-xl-36{font-size: 36px;}
    .size-xl-37{font-size: 37px;}
    .size-xl-38{font-size: 38px;}
    .size-xl-39{font-size: 39px;}
    .size-xl-40{font-size: 40px;}
    .size-xl-42{font-size: 42px;}
    .size-xl-44{font-size: 44px;}
    .size-xl-46{font-size: 46px;}
    .size-xl-48{font-size: 48px;}
    .size-xl-50{font-size: 50px;}
    .size-xl-60{font-size: 60px;}
    .size-xl-70{font-size: 70px;}
    .size-xl-80{font-size: 80px;}
    .size-xl-90{font-size: 90px;}
    .size-xl-100{font-size: 100px;}
}

@media (min-width: 1400px) {
    .size-xxl-08{font-size: 8px;}
    .size-xxl-09{font-size: 9px;}
    .size-xxl-10{font-size: 10px;}
    .size-xxl-11{font-size: 11px;}
    .size-xxl-12{font-size: 12px;}
    .size-xxl-13{font-size: 13px;}
    .size-xxl-14{font-size: 14px;}
    .size-xxl-15{font-size: 15px;}
    .size-xxl-16{font-size: 16px;}
    .size-xxl-17{font-size: 17px;}
    .size-xxl-18{font-size: 18px;}
    .size-xxl-19{font-size: 19px;}
    .size-xxl-20{font-size: 20px;}
    .size-xxl-21{font-size: 21px;}
    .size-xxl-22{font-size: 22px;}
    .size-xxl-23{font-size: 23px;}
    .size-xxl-24{font-size: 24px;}
    .size-xxl-25{font-size: 25px;}
    .size-xxl-26{font-size: 26px;}
    .size-xxl-27{font-size: 27px;}
    .size-xxl-28{font-size: 28px;}
    .size-xxl-29{font-size: 29px;}
    .size-xxl-30{font-size: 30px;}
    .size-xxl-31{font-size: 31px;}
    .size-xxl-32{font-size: 32px;}
    .size-xxl-33{font-size: 33px;}
    .size-xxl-34{font-size: 34px;}
    .size-xxl-35{font-size: 35px;}
    .size-xxl-36{font-size: 36px;}
    .size-xxl-37{font-size: 37px;}
    .size-xxl-38{font-size: 38px;}
    .size-xxl-39{font-size: 39px;}
    .size-xxl-40{font-size: 40px;}
    .size-xxl-42{font-size: 42px;}
    .size-xxl-44{font-size: 44px;}
    .size-xxl-46{font-size: 46px;}
    .size-xxl-48{font-size: 48px;}
    .size-xxl-50{font-size: 50px;}
    .size-xxl-60{font-size: 60px;}
    .size-xxl-70{font-size: 70px;}
    .size-xxl-80{font-size: 80px;}
    .size-xxl-90{font-size: 90px;}
    .size-xxl-100{font-size: 100px;}
}