ul,
li {
    padding: 0;
    list-style: none;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    text-decoration: none;
    color: var(--blue-hover);
}

.a-line:hover {
    text-decoration: underline;
}


/*colors*/

:root {
    --blue: #005eb8;
    --blue-hover: #0067c7;
    --blue-2: #006ab8;
    --blue-2-hover: #0078ce;
    --yellow: #ffa800;
    --red: #d4340a;
    --gray: #616161;
    --gray-2: #dedede;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-blue-2 {
    background-color: var(--blue-2);
}

.bg-yellow {
    background-color: var(--yellow);
}

.cn-button.bootstrap {
    background: #fff !important;
    color: var(--blue) !important;
    border-radius: 0 !important;
}

@media (min-width: 992px) {
    .bg-lg-blue {
        background-color: var(--blue);
    }
}

.color-blue {
    color: #005eb8;
}

.color-blue-2 {
    color: #006ab8;
}

.color-gray {
    color: #616161;
}

.color-gray-2 {
    color: var(--gray-2);
}

.color-red {
    color: var(--red);
}

.color-white {
    color: #fff;
}

.color-yellow {
    color: var(--yellow)
}

a.color-blue:hover {
    color: #0067c7;
}

a.color-blue-2:hover {
    color: #0078ce;
}

a.color-gray:hover {
    color: #8f8e8e;
}

a.color-white:hover {
    color: #fff;
}

.btn-yellow {
    background-color: var(--yellow)!important;
    color: #fff;
}

.btn-yellow:hover {
    background-color: #ffc042!important;
    color: #fff;
}

.btn-blue {
    background-color: var(--blue);
    color: #fff;
}

.btn-blue:hover {
    background-color: var(--blue-hover);
    color: #fff;
}

.btn-yellow:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem #ffc10763;
}

.btn {
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.04);
}

.lh-1 {
    line-height: 1.0;
}

.lh-1-2 {
    line-height: 1.2;
}

.lh-1-4 {
    line-height: 1.4;
}

.btn-form {
    width: 100%;
    max-width: 182px;
}

.open-menu {
    overflow: hidden;
}

.division {
    height: 10px;
    background: var(--gray-2);
}

.header-search {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #70a7ff;
    height: 56px;
    padding-left: 1rem;
}

#header-search {
    max-width: 656px;
}

.header-search input {
    border: none;
    outline: none;
    display: flex;
    flex-grow: 1;
}

.header-search button {
    width: 52px;
    height: 52px;
    background: #044788;
    border-radius: 5px;
    border: none;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.header-search button:hover {
    background: #0656a7;
}

#header-user-icon {
    width: 54px;
    height: 54px;
    border-radius: 5px;
    border: solid 2px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-user-icon:hover {
    background: var(--blue-2-hover);
}

#header-cart .cart {
    background: var(--yellow);
    width: 70px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
}

#header-cart .cart:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--yellow);
    position: absolute;
    left: -10px;
}

#header-cart .cart-count {
    width: 26px;
    height: 26px;
    font-family: 'Avenir-Black';
    color: #fff;
    background: #ff0000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: -10px;
}

#header-cart .cart:hover {
    background: #ffc042;
}

#header-cart .cart:hover:before {
    border-right: 10px solid #ffc042;
}

@media (max-width: 576px) {
    #header-cart .cart {
        width: 50px;
        height: 34px;
    }
    #header-cart .cart:before {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid var(--yellow);
        left: -6px;
    }
    #header-user-icon {
        width: 38px;
        height: 38px;
    }
    #header-cart .cart-count {
        width: 20px;
        height: 20px;
        top: -8px;
        right: -7px;
    }
}

#menu-list ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#menu-list li {
    position: relative;
    text-align: center;
    flex-grow: 1;
    border-right: solid 2px #044788;
}

@media (min-width: 992px) {
    #menu-list li {
        border-right: none;
    }
    #menu-list li:after {
        content: '';
        width: 6px;
        height: 6px;
        background: #04427c;
        position: absolute;
        right: -3px;
        top: 9px;
    }
}

#menu-list li:last-child:after {
    display: none;
}

#menu-list a {
    font-family: 'Avenir-Black';
    color: var(--blue);
}

#menu-list a:hover {
    filter: brightness(1.45);
}

#menu-list li:last-child {
    border-right: none;
}

#menu-list li:last-child a {
    color: var(--red);
}

#menu-list li:last-child a:before {
    content: "\e9d9";
    font-family: "icomoon";
    color: var(--red);
    margin-right: 0.5rem;
}

.footer-social-icon {
    background: #fff;
    color: #005eb8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    transition: 0.2s;
}

.footer-social-icon:hover {
    transform: scale(1.4);
}


/*menu-drop*/

.menu-drop {
    background-color: var(--blue);
    width: 100%;
    max-width: 263px;
    height: 40px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 5px;
    border-bottom: solid 1px #fff;
}

.menu-drop-submenu {
    position: absolute;
    background: var(--blue-hover);
    display: none;
    top: 40px;
    width: 100%;
    left: 0;
    padding: 1rem 0 0.5rem 0;
    border-radius: 5px;
    z-index: 4;
    transition: 0.2rem;
}

.menu-drop:hover {
    cursor: pointer;
    background: var(--blue-hover);
}

.menu-drop:hover .menu-drop-submenu {
    display: block;
}

.menu-drop-submenu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-drop-submenu li:hover {
    background: var(--blue-2-hover);
}


/*.menu-drop-submenu li::after{
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
}*/

.menu-drop-submenu li a {
    color: #fff;
    width: 100%;
    padding: 0.5rem 1.5rem;
}


/*== MENU MOBILE ==*/

#menu-mobile {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    overflow-y: scroll;
}

#mobile-menu-close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: #fff;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#menu-mobile .row .col-6:first-child {
    border-right: solid 1px #037bd4;
}

.menu-mobile li {
    margin-bottom: 0.75rem;
}

.menu-mobile a {
    color: #fff!important;
}

.footer-social-icon-whatsapp {}

#payments {
    width: 100%;
    max-width: 410px;
    text-align: center;
}

#newsletter .form-check-input {
    width: 25px;
    height: 25px;
}

#newsletter .form-check-input:checked {
    background-color: #4283ea;
    border-color: #fff;
}

.bottom-menu li {
    display: block;
    margin-bottom: 1rem;
}

.bottom-menu li a {
    color: #fff;
}

.bottom-menu li a:hover {
    text-decoration: underline;
}

.st-product {
    padding: 0.65rem;
    transition: 0.3s;
    margin-bottom: 1rem;
}

.st-product:hover {
    box-shadow: 0px 3px 0.5rem #21252952;
}

.st-product .st-product-thumb img {
    transition: 0.4s;
}

.st-product:hover .st-product-thumb img {
    filter: brightness(1.20);
    transform: scale(1.2);
}

.st-product-tag {
    font-size: 12px;
    color: #303030;
    background: #ffebc7;
    min-width: 40%;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
}

.st-product-add-to-cart {
    width: 192px;
    height: 38px;
    background: #005eb8;
    color: #fff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 8px;
    transition: 0.2s;
    font-family: 'Avenir-Medium';
}

.st-product-add-to-cart:hover {
    background: #0069ca;
}

.st-product-thumb {
    display: block;
    overflow: hidden;
}

.animated-thumb {
    display: block;
    overflow: hidden;
}

.animated-thumb img {
    transition: 0.4s;
    max-width: 100%;
    height: auto;
}

.animated-thumb:hover img {
    filter: brightness(1.20);
    transform: scale(1.2);
}

#btn-solutions {
    width: 100%;
    max-width: 282px;
    border-radius: 8px;
}

#btn-video-section-1 {
    width: 100%;
    max-width: 184px;
}

#btn-video-section-2 {
    width: 226px;
}

#top-products {
    background: rgb(145, 37, 236);
    background: linear-gradient(180deg, rgba(145, 37, 236, 1) 0%, rgba(97, 12, 249, 1) 100%);
}

.btn-top-product {
    width: 100%;
    /*color: var(--blue);*/
    border-radius: 8px;
    max-width: 275px;
}

.top-product-tag {
    min-width: 40%;
    background: #a03cbb;
    padding: 2px 10px;
    color: #fff;
    font-size: 14px;
    display: inline-block;
}

.top-product-tag:hover {
    background: #88349e;
    color: #fff;
}

#top-products-carousel {
    position: relative;
}

#top-products-carousel .owl-stage-outer {
    z-index: 2;
}

#top-products-carousel .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -58px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-products-carousel .owl-nav button {}

#top-products-carousel .owl-nav button span {
    display: none;
}

#top-products-carousel .owl-prev {
    margin-left: -2.3rem;
}

#top-products-carousel .owl-next {
    margin-right: -2.3rem;
}

#top-products-carousel .owl-prev:before {
    content: '';
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#top-products-carousel .owl-next:before {
    content: '';
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#top-products-carousel .owl-nav button:hover {
    background: none;
}

#top-products-carousel .owl-nav button:hover:before {
    transition: 0.2s;
    border-color: var(--yellow);
}

#btn-other-contents {
    width: 100%;
    max-width: 316px;
    padding: .5rem .75rem;
}

#ebook-form {
    width: 100%;
    max-width: 402px;
}

#ebook-form .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(204 222 249 / 25%);
}

#ebook-section {
    background: url(../img/ebook_bg.jpg) top center no-repeat;
    background-size: cover;
}

#ebook-info {
    position: absolute;
    top: 0;
    right: -20px;
    width: 100%;
    max-width: 198px;
}

#ebook-form .form-control {
    padding-left: 35px;
    color: var(--gray);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center left;
}

#ebook-name {
    background-image: url(../img/ebook-name-icon.svg);
}

#ebook-email {
    background-image: url(../img/ebook-email-icon.svg);
}

#ebook-email-confirm {
    background-image: url(../img/ebook-email-icon-2.svg);
}

#ebook-phone {
    background-image: url(../img/ebook-phone-icon.svg);
}

#ebook-company {
    background-image: url(../img/ebook-name-company.svg);
}

#btn-ebook {
    max-width: 292px;
    width: 100%;
    font-size: 14px;
    font-family: 'Avenir-Black';
    padding: .5rem .75rem;
}

#ebook-img {
    max-width: 402px;
    width: 100%;
}

@media(min-width: 992px) {
    #ebook-img {
        position: absolute;
        bottom: 0;
        /* max-width: 475px; */
        left: 0;
    }
}

@media (min-width: 1200px) {
    #ebook-info {
        right: -4rem;
        max-width: 270px;
    }
    #ebook-img {
        bottom: -2rem;
        max-width: 490px;
        left: -30px;
    }
}

@media (min-width: 1400px) {
    #ebook-img {
        bottom: -2rem;
        max-width: 530px;
        left: 1rem;
    }
}

#dinamic-banner {
    position: relative;
}

#dinamic-banner-nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#dinamic-banner-nav button {
    background: 0;
    border: 0;
    padding: 0;
    width: 64px;
    height: 64px;
    z-index: 2;
}

.arrow-left {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-right {
    border: solid #fff;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.product-carousel {
    position: relative;
}

.product-carousel .owl-stage-outer {
    z-index: 2;
}

.product-carousel .owl-nav {
    position: absolute;
    top: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.product-carousel button {
    background: #ffffffa1!important;
    height: 85px;
    display: flex!important;
    align-items: center;
    width: 25px;
    justify-content: center;
    z-index: 2;
}

.product-carousel button span {
    font-size: 57px!important;
    color: #757271;
    font-family: 'Avenir-Light';
    line-height: 1.0;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
    .product-carousel .owl-nav {
        top: 50%;
        align-items: center;
        margin-top: -58px;
    }
    .product-carousel button {
        background: none!important;
        width: 58px;
        height: 58px;
    }
    .product-carousel button span {
        display: none;
    }
    .product-carousel .owl-prev {
        margin-left: -54px!important;
    }
    .product-carousel .owl-prev::before {
        content: '';
        border: solid var(--gray);
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 20px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .product-carousel .owl-next {
        margin-right: -54px!important;
    }
    .product-carousel .owl-next::before {
        content: '';
        border: solid var(--gray);
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 20px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .product-carousel button:hover {
        filter: brightness(1.75);
    }
}

.product-carousel .st-product,
#related-carousel .st-product {
    margin: 1px 0.3rem 0.7rem 0.3rem;
}


/*== Product Page ==*/

#product-form {}

.product-form-title {
    border-radius: 10px 60px 0 0;
    overflow: hidden;
}

.product-form-content {
    border: solid 1px var(--blue);
    border-radius: 0 0 60px 60px;
}

.product-page-btn {
    font-family: 'Avenir-Light';
    text-transform: uppercase;
    font-size: 14px;
    padding: .55rem 1.25rem;
    min-width: 240px;
}

.btn-buy {
    max-width: 238px;
    width: 100%;
    padding: .55rem 1.25rem;
}

.btn-like {
    background: #00b85a;
    border-radius: 60px;
    font-size: 12px;
    width: 27px;
    height: 26px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-testimony {
    position: relative;
}

.product-testimony-thumb {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.product-testimony-thumb img {
    filter: brightness(0.8);
    transition: 0.2s;
}

.product-testimony-thumb:after {
    content: "\ea1c";
    font-family: 'icomoon';
    border: solid 2px #fff;
    color: #fff;
    position: absolute;
    font-size: 30px;
    padding: 1rem;
    line-height: 1.0;
    border-radius: 50px;
    transition: 0.2s;
}

.product-testimony-thumb:hover:after,
.product-testimony-thumb:hover img {
    transform: scale(1.05);
    filter: brightness(1.0);
}

#product-testimony .owl-nav {
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#product-testimony .owl-stage-outer {
    z-index: 2;
}

#product-testimony .owl-nav button {
    background: #fff;
    z-index: 2;
    border-radius: 0!important;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding: 0 0.3rem 0.3rem 0.3rem!important;
    color: var(--gray)!important;
}

#product-testimony .owl-nav button:hover {
    filter: brightness(1.10);
}

.btn-add-to-cart {
    background-image: url(../img/add-to-cart-bg.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 44px;
}

#related-carousel {
    position: relative;
}

#related-carousel .owl-stage-outer {
    z-index: 2;
}

#related-carousel .owl-nav {
    position: absolute;
    top: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#related-carousel .owl-nav.disabled {
    display: none!important;
}

#related-carousel .owl-nav button {
    z-index: 2;
    background: #fff;
}

#related-carousel .owl-nav button span {
    display: none;
}

#related-carousel .owl-nav .owl-prev::before {
    content: '';
    border: solid var(--gray);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#related-carousel .owl-nav .owl-next::before {
    content: '';
    border: solid var(--gray);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#related-carousel .owl-dots {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    #related-carousel .owl-nav button {
        width: 58px;
        height: 58px;
        background: none!important;
    }
    #related-carousel .owl-nav .owl-prev {
        margin-left: -54px!important;
    }
    #related-carousel .owl-nav .owl-next {
        margin-right: -54px!important;
    }
}

.scroll-opacity {
    transition: 0.6s;
    opacity: 0;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-section-2 .video-container {
    max-width: 640px;
}

.product-right-col {
    position: sticky;
    top: 1rem;
}

.customize-support.open-menu #menu-mobile {
    top: 46px;
}

.customize-support .product-right-col {
    top: calc(46px + 1rem);
}

@media (min-width: 783px) {
    .customize-support.open-menu #menu-mobile {
        top: 32px;
    }
    .customize-support .product-right-col {
        top: calc(32px + 1rem);
    }
}


/* Novo */

table {
    max-width: 100%;
}

.product-box-buy,
.product-form,
.tc-price-wrap,
.tm-epo-totals {
    display: none;
}


/*.woocommerce .post-content div.product p.price,
.woocommerce .post-content div.product span.price {
    color: #212529 !important;
    margin-bottom: 6px;
}

.woocommerce .post-content div.product p.price del,
.woocommerce .post-content div.product span.price del {
    opacity: 1 !important;
}*/

.preco-normal {
    display: block;
}

.products .product .preco-normal,
.st-product .preco-normal {
    font-size: 14px;
    color: var(--bs-body-color);
}

.preco-normal-desconto {
    display: block;
}

.products .product .preco-normal-desconto,
.st-product .preco-normal-desconto {
    font-size: 18px;
    color: var(--bs-body-color);
}

.st-product a {
    color: var(--bs-body-color);
}

.woocommerce .post-content div.product div.images,
.woocommerce .post-content div.product div.images,
.woocommerce-page .post-content div.product div.images,
.woocommerce-page .post-content div.product div.images,
.woocommerce .post-content div.product div.summary,
.woocommerce .post-content div.product div.summary,
.woocommerce-page .post-content div.product div.summary,
.woocommerce-page .post-content div.product div.summary {
    float: none;
    width: 100%;
}

.woocommerce .post-content .btn-blue.pisol_buy_now_button {
    background-color: var(--blue) !important;
    width: auto !important;
    margin: 0 !important;
}

.single-cat-link {
    color: #616161;
}

.woocommerce-single-btns {
    display: flex;
    justify-content: center;
}


/*.woocommerce ul.products li.product .price ins,
.woocommerce div.product p.price ins,
.st-product ins {
    text-decoration: none;
}*/

.woocommerce-LoopProduct-link img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.woocommerce-loop-product__title {
    font-size: var(--bs-body-font-size);
    color: #616161;
    font-family: 'Avenir-Medium';
    margin-top: 15px;
}

.woocommerce ul.products li.product .add_to_cart_button,
.st-product .add_to_cart_button,
.woocommerce ul.products li.product .single_adq_button_loop,
.st-product .single_adq_button_loop {
    width: 192px;
    height: 38px;
    background: #005eb8;
    color: #fff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 8px;
    transition: 0.2s;
    font-family: 'Avenir-Medium';
    text-transform: uppercase;
    margin: 10px auto 0;
    text-align: center;
}

.woocommerce ul.products li.product .add_to_cart_button:hover,
.st-product .add_to_cart_button:hover,
.woocommerce ul.products li.product .single_adq_button_loop:hover,
.st-product .single_adq_button_loop:hover {
    transform: scale(1.04);
    background-color: var(--blue-hover);
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    font-size: 14px !important;
    border-radius: .25rem !important;
    padding: 13px 25px!important;
    color: #515151;
    background-color: #ebe9eb;
    text-transform: uppercase;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    transform: scale(1.04);
    background-color: #ddd;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    font-size: var(--bs-body-font-size) !important;
    border-radius: .25rem !important;
    padding: 13px 25px!important;
    background-color: var(--blue) !important;
    color: #fff;
    text-transform: uppercase;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    transform: scale(1.04) !important;
    background-color: var(--blue-hover) !important;
}

.woocommerce table.cart td.actions .input-text#coupon_code,
.woocommerce-cart table.cart td.actions .coupon .input-text#adq_coupon_code {
    width: 150px !important;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    padding: 10px 15px;
    height: 42px;
    background: #fff;
}

.woocommerce-cart table.cart td.actions .coupon .input-text#adq_coupon_code {
    height: 38px;
}

.woocommerce table.shop_table,
.woocommerce-billing-fields,
.woocommerce-shipping-fields {
    color: var(--bs-body-color);
}

#tm-extra-product-options-fields {
    font-size: 14px;
    color: var(--bs-body-color);
}

.tm-extra-product-options .tc-row {
    align-items: center !important;
}

.tm-extra-product-options .tc-cell.tc-container {
    margin-bottom: 25px !important;
}

.tm-extra-product-options .tc-row label.tc-cell {
    max-width: 75%;
}

.tm-extra-product-options .tmcp-ul-wrap {
    display: flex;
}

.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-radio li.tmcp-field-wrap label {
    display: flex !important;
    align-items: center;
    color: #005eb8;
}

.tm-extra-product-options .cpf-type-checkbox .tc-row {
    align-items: flex-start !important;
    display: block;
}

.tm-extra-product-options .cpf-type-checkbox .tc-row .tmcp-ul-wrap {
    flex-wrap: wrap !important;
    margin-top: 15px;
}

.tm-extra-product-options .cpf-type-checkbox .tc-row .tmcp-ul-wrap li.tmcp-field-wrap {
    width: 23%;
    margin-right: 2%;
    margin-bottom: 10px;
}

.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-checkbox li.tmcp-field-wrap label {
    display: flex !important;
    align-items: baseline !important;
}

.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-checkbox li.tmcp-field-wrap label input {
    margin-right: 10px !important;
}

.tm-extra-product-options ul.tmcp-ul-wrap.tm-extra-product-options-checkbox li.tmcp-field-wrap label .tc-label.tm-label {
    padding: 0 !important;
}

.tm-extra-product-options .tmcp-textfield.tm-epo-field,
.tc-extra-product-options .cpf-type-select .tmcp-field-wrap label.fullwidth select {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem 5px .375rem .75rem;
}

.woocommerce .woocommerce-cart-form__contents.quote_cart input.button,
.woocommerce .woocommerce-cart-form__contents.quote_cart.cart .button {
    font-size: 11px !important;
    padding: 13px 13px!important;
}

.woocommerce .woocommerce-cart-form__contents.quote_cart input.button#update_quote {
    display: none !important;
}

.woocommerce td.product-name dl.variation dt {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
}

.woocommerce .checkout.adq-billing .col2-set .col-1,
.woocommerce .checkout.adq-billing .col2-set .col-2 {
    width: 100%;
    float: none;
}

.woocommerce .checkout.adq-billing .wc-backward.return-to-shop {
    display: none !important;
}

.woocommerce .checkout.adq-billing .woocommerce-info {
    display: none !important;
}

.woocommerce .checkout.adq-billing .woocommerce-billing-fields.adq-billing {
    border: 1px solid var(--blue) !important;
    display: block !important;
}

.woocommerce .checkout.adq-billing .password-input,
.woocommerce .checkout.adq-billing .password-input {
    margin-left: 0;
}

.woocommerce .checkout.adq-billing h3 {
    font-size: 18px;
    font-weight: 700;
    color: #424344;
    text-transform: none;
    padding: 5px 30px 18px;
    border-bottom: 1px solid #dbdbdb;
    margin: 0 -30px 15px;
}


/* Woocommerce Forms */

.woocommerce form .form-row {
    margin: 0 0 15px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px 15px;
    height: 40px;
    margin: 0;
}

.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: #d6d6d6;
}

.woocommerce form .form-row textarea {
    height: 120px;
}

.woocommerce form .form-row input.input-text:focus,
.woocommerce form .form-row textarea:focus {
    border: 1px solid var(--blue);
    box-shadow: none;
}

.woocommerce form .form-row label {
    line-height: 16px;
    font-weight: 400;
    color: #424344;
}

.select2-container--default .select2-selection--single {
    border-radius: 5px;
    border: 1px solid #bbb;
}

.select2-container--default .select2-selection--single:focus {
    border: 1px solid var(--blue);
    box-shadow: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 30px;
    line-height: 18px;
}

.select2-container .select2-selection--single,
.woocommerce form .form-row select {
    border-radius: 5px;
    border: 1px solid #ced4da !important;
    padding: 6px 8px;
    height: 40px !important;
    margin: 0;
    text-align: left;
}

.woocommerce form .form-row .select2-container {
    width: 100% !important;
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
    right: 10px !important;
}

.woocommerce-additional-fields {
    margin-top: 10px;
}

.woocommerce-additional-fields h3 {
    display: none;
}

.checkout.woocommerce-checkout h3 {
    margin-bottom: 15px;
    font-weight: 700;
}

.woocommerce form .form-row {
    align-items: center;
    padding: 0 !important;
    margin: 0 0 15px !important;
}

.woocommerce form .form-row.place-order {
    padding: 20px 30px 25px !important;
}

.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
    display: block;
    width: 100%;
}

.woocommerce-form-login .btn.btn-outline-primary {
    margin-left: 0;
    display: block;
    margin-top: 10px;
}

.woocommerce form .password-input,
.woocommerce-page form .password-input {
    margin-left: 15px;
}

.woocommerce form .woocommerce-account-fields .password-input,
.woocommerce-page form .woocommerce-account-fields .password-input {
    margin-left: 0;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register,
.woocommerce form.lost_reset_password {
    padding: 45px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.woocommerce form.lost_reset_password {
    max-width: 500px;
    margin: 0 auto;
}

.woocommerce form.lost_reset_password .form-row-first,
.woocommerce form.lost_reset_password .form-row-last,
.woocommerce form.lost_reset_password .btn.btn-outline-primary {
    width: 100%;
}

.woocommerce form.woocommerce-form-login .password-input,
.woocommerce form.woocommerce-form-register .password-input {
    width: 100%;
    margin-left: 0;
}

.woocommerce .return-to-shop .button.wc-backward {
    margin-left: 0;
}

.woocommerce-MyAccount-content fieldset {
    margin-top: 20px;
}

.checkout_coupon.woocommerce-form-coupon .btn-outline-primary {
    padding: .44rem 2rem;
}

.woocommerce-account .woocommerce .col2-set,
.woocommerce-account .woocommerce-page .col2-set {
    width: auto;
}

#customer_login h3 {
    margin-bottom: 15px;
}

.woocommerce-password-strength {
    margin-top: 15px;
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
    right: 15px;
    top: 14px;
}

.woocommerce form.woocommerce-EditAccountForm .form-row {
    flex-direction: column;
    align-items: flex-start;
}

.woocommerce form.woocommerce-EditAccountForm .password-input {
    margin-left: 0;
}

.woocommerce form.woocommerce-EditAccountForm button.button,
.woocommerce .woocommerce-address-fields button.button {
    margin-left: 0;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: auto !important;
    float: none !important;
}


/* Woocommerce Carts */

.woocommerce-cart table.cart img {
    min-width: 50px !important;
}

.woocommerce table.shop_table,
.woocommerce-billing-fields,
.woocommerce-shipping-fields {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .15);
    border: 0;
    border-radius: 10px;
    color: #191919;
    background: #fff;
}

.shop_table.woocommerce-checkout-review-order-table .pisol_product_name,
.shop_table.woocommerce-checkout-review-order-table .product-quantity {
    font-size: 15px;
    font-weight: 700;
    color: var(--blue);
}

.shop_table.woocommerce-checkout-review-order-table .tc-name {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 8px;
}

.shop_table.woocommerce-checkout-review-order-table .tc-value {
    font-size: 13px;
    line-height: 18px;
    color: var(--blue);
}

.shop_table.woocommerce-checkout-review-order-table .tm-cart-edit-options {
    display: none !important;
}

.woocommerce-billing-fields {
    margin-bottom: 25px;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields .shipping_address {
    padding: 20px 30px;
    display: inline-block;
}

.woocommerce table.shop_table th {
    font-weight: 400;
    padding: 15px 12px;
    text-align: center;
}

.woocommerce table.shop_table th.product-thumbnail,
.woocommerce-cart table.cart th.product-name {
    font-weight: 700;
    text-align: left;
}

.woocommerce-cart table.cart td {
    text-align: center;
    font-size: 14px;
    border-color: #dbdbdb;
}

.woocommerce-cart table.cart td.product-thumbnail {
    padding-left: 25px;
}

.woocommerce-cart table.cart td.product-thumbnail,
.woocommerce-cart table.cart td.product-name {
    text-align: left;
}

.woocommerce-cart table.cart td.product-name a,
.woocommerce-cart table.cart td.product-price .woocommerce-Price-amount.amount,
.woocommerce-cart .cart_totals table .woocommerce-Price-amount.amount {
    font-weight: 700;
}

.woocommerce-cart table.cart td.product-price .woocommerce-Price-amount .woocommerce-Price-currencySymbol,
.woocommerce-cart .cart_totals table .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-weight: 400;
    margin-right: 3px;
}

.woocommerce-page table.cart td.actions .input-text#coupon_code {
    width: 200px !important;
    border-radius: 5px;
    border-color: #d6d6d6;
    padding: 10px 15px;
    height: 40px;
}

.woocommerce button.button {
    padding: 10px 30px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
}

.woocommerce-page table.cart td.actions .aplicar-coupon {
    background: #dbdbdb;
    padding: 10px 30px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 400;
}

.woocommerce-page table.cart td.actions .update-cart {
    padding: 10px 30px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 400;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    padding: 10px 30px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 400;
}

.woocommerce form.woocommerce-shipping-calculator .form-row>span {
    width: 100%;
}

.woocommerce .woocommerce-shipping-calculator button.button {
    width: 100%;
    margin-left: 0;
}

.woocommerce-page table.cart td.actions .aplicar-coupon:hover {
    background: #ccc;
}

.woocommerce-page table.cart .quantity .qty {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: #969696;
    height: 36px;
    width: 3.631em;
    text-align: center;
    margin-right: 20px;
}

.woocommerce a.remove {
    color: #191919 !important;
    font-weight: 400;
    background: transparent !important;
}

.woocommerce a.remove:hover {
    color: #777 !important;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
}

.woocommerce-page table.cart td.actions {
    padding: 20px 30px;
}

.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout-review-order-table {
    border: 1px solid var(--blue) !important;
}

.woocommerce-cart .cart-collaterals .cart_totals h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #191919;
    text-transform: none;
    margin-bottom: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals tr td {
    padding: 15px 20px;
    text-align: right;
}

.woocommerce-cart .cart-collaterals .cart_totals th {
    text-align: left;
    font-weight: 400;
}

.woocommerce-cart .cart-collaterals .cart_totals .order-total th {
    font-weight: 700;
}

.woocommerce-cart .cart-collaterals .cart_totals th,
.woocommerce-cart .cart-collaterals .cart_totals td {
    padding: 15px 20px;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td {
    font-size: 14px;
    text-align: left;
}

.woocommerce-cart .cart-collaterals .cart_totals tr.shipping td a {
    font-size: 16px;
}

.woocommerce-cart .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button {
    padding: 17px 10px;
    font-size: 16px;
    margin: 0;
}


/* Woocommerec Checkout */

.woocommerce-checkout .woocommerce h3 {
    font-size: 18px;
    font-weight: 700;
    color: #424344;
    text-transform: none;
    padding: 18px 30px;
    border-bottom: 1px solid #dbdbdb;
}

.woocommerce-checkout .woocommerce .woocommerce-shipping-fields {
    margin-bottom: 25px;
}

.woocommerce-checkout .woocommerce .woocommerce-shipping-fields #ship-to-different-address-checkbox {
    margin-right: 3px;
}

.woocommerce-checkout .woocommerce .woocommerce-shipping-fields h3#ship-to-different-address {
    margin-bottom: 0;
    border: 0;
    padding-bottom: 5px;
}

.woocommerce-checkout .woocommerce .woocommerce-shipping-fields .shipping_address {
    border-top: 1px solid #dbdbdb;
    padding-top: 25px;
}

.woocommerce-checkout .woocommerce h3 i {
    color: #EF8700;
    margin-right: 5px;
}

.woocommerce-checkout .woocommerce #order_review h3 {
    margin-bottom: 0;
}

.woocommerce-checkout .woocommerce table.shop_table th,
.woocommerce-checkout .woocommerce table.shop_table td {
    text-align: left;
    padding: 15px 30px;
}

.woocommerce-checkout .woocommerce table.shop_table .cart-resumo th {
    padding: 0;
}

.woocommerce-checkout .woocommerce table.shop_table td.product-name {
    font-size: 14px;
    max-width: 270px;
}

.woocommerce-checkout .woocommerce table.shop_table td .woocommerce-Price-amount.amount {
    font-weight: 700;
}

.woocommerce-checkout .woocommerce table.shop_table td .woocommerce-Price-amount .woocommerce-Price-currencySymbol {
    font-weight: 400;
    margin-right: 3px;
}

.woocommerce-checkout #payment {
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .15);
    border: 0;
    border-radius: 10px;
}

.woocommerce-checkout #payment ul.payment_methods {
    padding: 20px 30px 20px !important;
}

.woocommerce-checkout #payment div.payment_box {
    background-color: #fff;
    padding: 0;
    margin-top: 5px;
}

.woocommerce-checkout #payment div.payment_box::before {
    display: none;
}

#rede-credit-payment-form .form-row:nth-child(2) label {
    margin-bottom: 0;
    margin-right: 10px;
}

#rede-credit-payment-form .form-row:nth-child(2) select {
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    padding: 5px;
}

.woocommerce-checkout #payment ul.payment_methods li input {
    margin: 0;
}

.woocommerce-checkout #payment ul.payment_methods li.wc_payment_method .input-radio {
    margin-right: 5px;
}

.woocommerce-checkout #payment #place_order {
    width: 100%;
    float: none;
    padding: 17px 10px;
    font-size: 16px;
    height: auto;
    text-transform: uppercase;
    border: 0 !important;
    background: var(--blue);
}

.woocommerce-checkout #payment #place_order:hover {
    background: var(--blue-hover);
}

.woocommerce-thankyou-order-received {
    font-size: 24px;
    line-height: 40px;
}

.woocommerce-thankyou-order-received i {
    font-size: 48px;
    color: #EF8700;
    margin-bottom: 10px;
}

.woocommerce-thankyou-order-received .btn {
    font-size: 16px;
    padding: 13px 15px;
    width: 100%;
    max-width: 340px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #005eb8;
    color: #fff!important;
    font-family: 'Avenir-Medium';
    border-radius: 8px;
    text-transform: uppercase;
}

.woocommerce-thankyou-order-received .btn:hover {
    background: #0069ca;
    color: #fff!important;
}

.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li,
.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details p {
    color: #191919;
}

.woocommerce-checkout .woocommerce-order .woocommerce-order-details__title,
.woocommerce-order-details .woocommerce-order-details__title {
    display: none;
}

.woocommerce-checkout .woocommerce-order .woocommerce-table--order-details-2,
.woocommerce-order-details .woocommerce-table--order-details-2 {
    border: 1px solid #cdcdcd !important;
}

.woocommerce-checkout .woocommerce-order .woocommerce-table--order-details th,
.woocommerce-order-details .woocommerce-table--order-details th {
    padding: 13px 30px;
}

.woocommerce-checkout .woocommerce-order .woocommerce-table--order-details .product-name,
.woocommerce-order-details .woocommerce-table--order-details .product-name {
    font-weight: 700;
    padding-left: 15px !important;
    text-align: left;
    font-size: 14px;
}

.woocommerce-order-details .woocommerce-table--order-details th.product-name {
    font-size: 16px;
}

.woocommerce-checkout .woocommerce-order .woocommerce-table--order-details .cart-resumo h3,
.woocommerce-order-details .woocommerce-table--order-details .cart-resumo h3 {
    border-bottom: 0;
    padding: 15px 30px;
    text-align: left;
}

.woocommerce-order-details .woocommerce-table--order-details .cart-resumo h3 {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #424242;
}

.woocommerce-checkout .woocommerce-order .woocommerce-table--order-details .product-thumbnail,
.woocommerce-order-details .woocommerce-table--order-details .product-thumbnail {
    width: 60px;
    padding: 10px 10px 10px 10px !important;
}

.woocommerce-checkout .woocommerce-order .woocommerce-table--order-details .product-total,
.woocommerce-order-details .woocommerce-table--order-details .product-total {
    text-align: center !important;
}

.woocommerce-checkout .woocommerce-order .woocommerce-table--order-details img,
.woocommerce-order-details .woocommerce-table--order-details img {
    width: 42px !important;
}

.woocommerce-checkout .woocommerce-order .woocommerce-customer-details {
    display: none;
}

.woocommerce-MyAccount-navigation h4,
.my-account-title {
    font-size: 24px;
    color: #424344;
    font-weight: 700;
    margin-bottom: 20px;
}

.woocommerce-MyAccount-navigation h4 i,
.my-account-title i {
    color: #EF8700;
    margin-right: 5px;
}

.woocommerce-MyAccount-navigation a {
    border: 0;
    padding: 12px 25px;
    border-radius: 0;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.woocommerce-MyAccount-navigation a:hover {
    background: #ebebeb;
}

.woocommerce-MyAccount-orders .woocommerce-orders-table__row {
    text-align: center;
}

.woocommerce-MyAccount-content h3,
.woocommerce-customer-details .woocommerce-column__title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #191919;
    margin-bottom: 15px;
    text-transform: none;
}

.woocommerce-account .edit {
    color: var(--blue);
    font-weight: bold;
    background: transparent;
    border: 2px solid var(--blue);
    border-radius: 25px;
    width: auto;
    display: inline-block;
    font-size: 14px;
    padding: 3px 22px;
    position: relative;
    margin-bottom: 10px;
}

.woocommerce-account .edit:hover {
    color: #fff;
    background: var(--blue);
    border: 2px solid var(--blue);
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm.edit-account,
.woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address,
.woocommerce-MyAccount-content .woocommerce-address-fields,
.woocommerce .woocommerce-customer-details address,
.woocommerce-billing-fields.adq-billing {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .15);
    border: 0;
    border-radius: 10px;
    padding: 20px 30px 10px;
    background: #fff;
}

.woocommerce .woocommerce-customer-details address {
    padding: 20px 30px;
}

.woocommerce-Addresses .woocommerce-Address {
    margin-bottom: 25px;
}

.woocommerce-column--1.col-1,
.woocommerce-column--2.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
}

#billing_country_field,
#billing_persontype_field {
    display: none !important;
}

#billing_cpf_field {
    display: block !important;
}

.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox {
    line-height: 16px;
}

#order_review .shop_table .wc-item-meta {
    display: none !important;
}

#order_review .shop_table .order_item .product-name {
    font-size: 15px;
    font-weight: 700;
    color: var(--blue);
}

.woocommerce-table__product-name .wc-item-meta li {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    color: var(--blue);
}

.woocommerce-table__product-name .wc-item-meta li:first-child {
    margin-top: 10px;
}

.woocommerce-table__product-name .wc-item-meta li strong {
    display: block;
    width: 100%;
    color: #191919;
}


/* Woocommerce Orcamento */

.adq-billing .form-row.terms {
    display: none;
}


/* Home */

.sobre-sebrae-title {
    text-align: right;
}

.sobre-sebrae-title strong {
    color: #005eb8;
    font-size: 46px;
    font-style: oblique;
    font-family: 'Avenir-Black';
    margin-right: 20px;
}

.top-product .preco-normal {
    font-size: 13px;
}

.top-product .preco-normal-desconto {
    font-size: 20px;
    color: #fff;
}

.top-product .preco-normal-desconto ins {
    text-decoration: none;
}

#end-products .woocommerce-LoopProduct-link img {
    width: 100%;
    height: auto;
}

#end-products .woocommerce-loop-product__title {
    font-size: 18px;
    text-align: center;
    font-family: 'Avenir-Roman';
}

#end-products .frase-efeito {
    display: none;
}

.archive.woocommerce ul.products {
    padding: 0 15px;
}

.archive.woocommerce-page ul.products li.product,
.woocommerce-page .related.products ul.products li.product {
    padding: 0.65rem 0.65rem 1.5rem !important;
    margin: 0 1% 2.992em 1%;
    width: 23%;
    transition: 0.3s;
}

.woocommerce-page .related.products ul.products li.product {
    margin-bottom: .5em;
}

.woocommerce div.product .wpa-product-gallery img {
    height: 260px !important;
    object-fit: cover !important;
}

.woocommerce-page .related.products ul.products .owl-item li.product {
    padding: 0.65rem 0.65rem 1.5rem !important;
    margin: 1px 0.3rem 0.7rem 0.3rem !important;
    width: auto !important;
    display: inline-block !important;
}

.woocommerce-page ul.products li.product:hover {
    box-shadow: 0px 3px 0.5rem #21252952;
    padding: 0.65rem;
}

.woocommerce-page ul.products li.product .st-product-thumb {
    display: block;
    overflow: hidden;
}

.woocommerce-page ul.products li.product img {
    transition: 0.4s;
    margin-bottom: 0 !important;
}

.woocommerce-page ul.products li.product:hover img {
    filter: brightness(1.20);
    transform: scale(1.2);
}

.woocommerce-products-header__title.page-title-search.page-title {
    text-transform: none !important;
}

.search-title {
    text-transform: uppercase;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    padding: .375rem .8rem !important;
    height: 38px !important;
    line-height: 28px !important;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #0d6efd !important;
    border-color: #0d6efd !important;
    color: #fff !important;
}

.wpa-product-gallery .slick-arrow {
    display: none !important;
}

.flaticon-left-arrow-2:before {
    content: "\f104" !important;
}

.flaticon-right-arrow-3:before {
    content: "\f100" !important;
}

.wpa-woocommerce-product-gallery__wrapper.wpa-product-gallery {
    margin-bottom: 20px !important;
}

.wpa-product-gallery-thumbs .slick-list {
    margin: 0 -10px;
}

.wpa-product-gallery-thumbs button.wpawg-prev,
.wpa-product-gallery-thumbs button.wpawg-next {
    background: #fff !important;
    padding: 7px 2px !important;
    top: 50% !important;
    margin: 0 !important;
    transform: translateY(-50%) !important;
    opacity: .8 !important;
}

.wpa-product-gallery-thumbs button.wpawg-prev:hover,
.wpa-product-gallery-thumbs button.wpawg-next:hover {
    opacity: 1 !important;
}

.wpa-product-gallery-thumbs button.wpawg-prev {
    left: -15px !important;
}

.wpa-product-gallery-thumbs button.wpawg-next {
    right: -15px !important;
}

.woocommerce div.product div.images.wpa-woocommerce-product-gallery--with-images .wpa-product-gallery-thumbs .slick-slide.woocommerce-product-gallery__image {
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 60px;
    position: relative;
}

.woocommerce div.product div.images .wpa-product-gallery-thumbs .slick-slide.woocommerce-product-gallery__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.woocommerce-cart-form__cart-item .tm-cart-edit-options {
    display: none !important;
}

.woocommerce div.product div.images.wpa-woocommerce-product-gallery {
    position: relative;
    opacity: 1 !important;
}

.wpawg-image-popup {
    width: 100%;
    height: 100%;
    left: 0 !important;
    top: 0 !important;
    right: inherit !important;
}

.wpawg-image-popup i {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.woocommerce-page.woocommerce-lost-password form .password-input {
    margin-left: 0;
}

.woocommerce-privacy-policy-text {
    clear: both;
}


/* Termo */

#modal-term .modal-dialog {
    max-width: 750px;
}

#modal-term .close {
    border: 0;
    border-radius: 100%;
    padding: 0 7px;
}

.btn-secondary {
    color: #fff;
    background-color: #c5c5c5;
    border-color: #c5c5c5;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #bbb;
    border-color: #bbb;
}


/* Ebook */

.ebook-title {
    max-width: 402px;
}

.wpcf7-form-control-wrap.politica-privacidade label {
    display: flex;
    align-items: center;
}

.wpcf7-form-control-wrap.politica-privacidade .wpcf7-list-item {
    margin: 0 !important;
}

.wpcf7-form-control-wrap.politica-privacidade label .wpcf7-list-item-label {
    font-size: 11px;
    color: #fff;
    margin-left: 8px;
}

.wpcf7-spinner {
    display: block !important;
}

.wpcf7-not-valid-tip {
    color: #f9b4b4 !important;
    margin-top: 5px;
}

.wpcf7 .wpcf7-response-output {
    color: #fff;
    margin-top: 10px !important;
}

#newsletter {
    text-align: center;
}

#newsletter .form-control {
    text-align: center;
}

#newsletter .wpcf7-form-control-wrap.politica-privacidade label .wpcf7-list-item-label {
    font-size: 13px;
}

.politica-privacidade a {
    color: #fff;
    text-decoration: underline;
}

.politica-privacidade a:hover {
    color: #fff;
    text-decoration: none;
}


/* Modal Sucesso */

.modal-sucesso .modal-body {
    text-align: center;
    padding: 50px 20px 30px;
    background: var(--blue-2);
    color: #fff;
}

.modal-sucesso .modal-body button.close {
    position: absolute;
    right: 15px;
    top: 15px;
    border: 0;
    border-radius: 50%;
    padding: 4px 11px;
}

.modal-sucesso .modal-body button.close:hover {
    opacity: .85;
}

.modal-sucesso .modal-body h5 {
    margin-bottom: 15px;
}

.modal-sucesso .modal-body .btn.btn-secondary {
    background: var(--yellow);
    border-color: var(--yellow);
    text-transform: uppercase;
    font-family: 'Avenir-Black';
}


/* Novos termos */

.woocommerce-invalid #empresa_checkbox {
    outline: 2px solid red;
    outline-offset: 2px;
}

.woocommerce-checkout .woocommerce table.shop_table.woocommerce-cart-form__contents td {
    padding: 15px 10px;
}


/* Responsivo */

@media (max-width: 1199px) {
    .tm-extra-product-options .cpf-type-checkbox .tc-row .tmcp-ul-wrap li.tmcp-field-wrap {
        width: 31%;
        margin-right: 2%;
    }
    .woocommerce .woocommerce-cart-form__contents.quote_cart .coupon {
        width: 100%;
        margin-bottom: 5px;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text#adq_coupon_code {
        width: 50% !important;
    }
    .woocommerce-cart table.cart td.actions .coupon .button {
        width: 49% !important;
    }
    .woocommerce-cart table.cart td.actions a#remove_all_items {
        width: 50% !important;
    }
    .woocommerce-cart table.cart td.actions #update_quote {
        width: 49% !important;
    }
}

@media (max-width: 992px) {
    .woocommerce div.product .wpa-product-gallery img {
        height: 220px !important;
        object-fit: cover !important;
    }
}

@media (max-width: 768px) {
    .woocommerce-page .related.products ul.products .owl-item li.product {
        width: 100% !important;
        margin: 0 0 0.3rem !important;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text#adq_coupon_code,
    .woocommerce-cart table.cart td.actions .coupon .button,
    .woocommerce-cart table.cart td.actions a#remove_all_items,
    .woocommerce-cart table.cart td.actions #update_quote {
        width: 100% !important;
    }
    .woocommerce .woocommerce-cart-form__contents.quote_cart .coupon {
        margin-bottom: 5px;
        padding-bottom: 0 !important;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text#adq_coupon_code,
    .woocommerce-cart table.cart td.actions a#remove_all_items {
        margin-bottom: 5px;
    }
    #quote_place_order {
        width: 100%;
    }
    .woocommerce-single-btns {
        flex-direction: column;
    }
    .wpa-product-gallery-thumbs button.wpawg-prev {
        left: -10px !important;
    }
    .wpa-product-gallery-thumbs button.wpawg-next {
        right: -10px !important;
    }
}

@media (max-width: 468px) {
    .woocommerce ul.products[class*=columns-] li.product,
    .woocommerce-page ul.products[class*=columns-] li.product {
        width: 100% !important;
        margin: 0 0 1.992em !important;
    }
}

@media (min-width: 992px) {
    .woocommerce-order ul.order_details {
        display: flex;
        justify-content: center;
    }
    #ebook-form .form-control {
        width: 402px;
    }
}

#about ul,
.defaults-lists {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

#about li::before,
.defaults-lists li:before {
    content: "\2022";
    color: var(--blue);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#about-content {
    color: var(--gray);
    font-family: 'Avenir-Roman';
}

#about-content h1,
#about-content h2,
#about-content h3 {}

#about-content em {
    font-style: oblique;
}

#about-content strong {
    font-family: 'Avenir-Black';
}

.about-card {
    padding: 1.5rem;
    background: #efefef;
    border-radius: 0 50px 50px 50px;
    position: relative;
    height: 100%;
    font-size: 14px;
}

.about-card-title {
    position: absolute;
    bottom: -20px;
    background: #005eb8;
    color: #fff!important;
    font-family: 'Avenir-Black';
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    min-width: 210px;
    text-align: center;
    font-size: 18px;
    right: 1.5rem;
    font-style: oblique;
}

#about-faq .accordion-item {
    border: none;
}

#about-faq .accordion-button {
    background: #005eb8!important;
    color: #fff!important;
}

#about-faq .accordion-button.collapsed {
    border-bottom: solid 1px #f0f6fb;
}

#about-faq .accordion-item:last-of-type .accordion-button {
    border-bottom: none;
}

.accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

#about-faq .accordion-body {
    background: #e3edf7;
    color: #005eb8;
    border: solid 4px #005eb8;
}

#about-faq .accordion-button::after {
    background-image: url(../img/arcodion-arrow.svg);
}

#about-faq .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#about-faq .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#about-faq .accordion-button[aria-expanded="true"]:before {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

#contact-form {
    display: flex;
    justify-content: center;
}

#contact-form>div {
    max-width: 500px;
    width: 100%;
}

#contact-form .form-control {
    border: solid 1px #b9bed4;
    border-radius: 10px;
    background-color: #fff !important;
    background-repeat: no-repeat !important;
    color: var(--gray);
}

#contact-form input[type='text'],
#contact-form input[type='email'],
#contact-form input[type='tel'] {
    padding-left: 35px;
    background-position: center left !important;
}

#contact-form textarea {
    padding-left: 35px;
    background-position: top left !important;
}

#contact-name {
    background-image: url(../img/ebook-name-icon.svg) !important;
}

#contact-email {
    background-image: url(../img/ebook-email-icon.svg) !important;
}

#contact-email-confirm {
    background-image: url(../img/ebook-email-icon-2.svg) !important;
}

#contact-phone {
    background-image: url(../img/ebook-phone-icon.svg) !important;
}

#contact-city {
    background-image: url(../img/ebook-name-company.svg) !important;
}

#contact-msg {
    background-image: url(../img/ebook-msg-icon.svg) !important;
}

#btn-contact {
    max-width: 240px;
    width: 100%;
    font-size: 14px;
    font-family: 'Avenir-Black';
    padding: .5rem .75rem;
    height: 40px;
}

#contact-form .wpcf7-not-valid-tip {
    color: var(--red) !important;
    margin-top: 5px;
    font-size: 14px;
}

#contact-form .wpcf7-form-control-wrap.politica-privacidade label .wpcf7-list-item-label {
    color: #000 !important;
}

#contact-form .politica-privacidade a {
    color: var(--blue) !important;
    text-decoration: underline !important;
}

#contact-form .wpcf7-response-output {
    color: #616161!important;
    font-family: 'Avenir-Light';
    margin: 2rem 0 0 0!important;
    border-radius: 9px;
    border-width: 1px;
    padding: 0.75rem;
}

#contact-form .wpcf7-spinner {
    position: absolute;
    right: 0;
}

.post-shared>span {
    color: #989898;
    font-size: 11px;
}

.post-social-icon {
    background: #989898;
    color: #fff!important;
    border-radius: 70px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    transition: 0.2s;
    font-size: 10px;
}

.post-social-icon:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.principal-img {
    overflow: hidden;
}

.principal-img img {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}


/*.principal-img img {
    object-fit: cover;
    width: 100%;
    transition: 0.2s;
}

@media (min-width: 992px) {
    .principal-img img {
        height: 100%;
    }
}*/

.principal-img:hover img {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.pagination .nav-links>* {
    border: solid 1px #b5b5b5;
    border-right: none;
    display: block;
    padding: 0.45rem 0.4rem;
}

.pagination .nav-links {
    display: flex;
    margin-bottom: 3rem;
}

.pagination .nav-links>*:first-child {
    border-radius: 6px 0 0 6px;
}

.pagination .nav-links>*:last-child {
    border-radius: 0 6px 6px 0;
    border-right: solid 1px #b5b5b5;
}

.pagination .next,
.pagination .prev {
    font-size: 0;
}

.pagination .prev:before {
    content: '<';
    font-size: 16px;
}

.pagination .next:before {
    content: '>';
    font-size: 16px;
}

#internal-search {
    border: solid 1px #005eb8;
    height: 36px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    min-width: 268px;
}

#internal-search input[type="text"] {
    border: none;
    background: none;
    height: 32px;
    outline: none;
    padding: 0 0.5rem;
    font-size: 14px;
    color: #4d4d4d;
    width: 100%;
}

#internal-search button {
    font-size: 20px;
    background: none;
    border: none;
    padding-right: 0.5rem;
    color: var(--blue);
}

.top-product-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.case-tags .st-product-tag {
    min-width: 230px;
    padding-right: 2rem;
}

.price {
    /*display: inline-block!important;*/
    font-size: 18px!important;
    color: var(--bs-body-color)!important;
    font-family: 'Avenir-Black';
    display: flex!important;
    justify-content: end;
    flex-direction: column;
}

.price del {
    display: block!important;
    font-size: 14px!important;
    font-family: 'Avenir-Medium';
    opacity: 1 !important;
}

.price del:before {
    content: 'De: ';
}

.price ins {
    display: block!important;
    text-decoration: none!important;
}

.price ins:before {
    content: 'Por até: ';
}

.price>.woocommerce-Price-amount.amount:before {
    content: 'Por até: ';
}

.woocommerce .post-content .product-right-col p.price,
.woocommerce .post-content .product-right-col span.price {
    color: #616161!important;
    margin-bottom: 6px;
    font-size: 24px!important;
}

.woocommerce .post-content .product-right-col .price del {
    font-size: 16px!important;
    color: var(--bs-body-color)!important;
}

.color-white .price {
    color: #fff!important;
}

.top-product {
    display: flex;
    flex-direction: column;
}

#top-products-carousel .owl-stage {
    display: flex;
}

#top-products-carousel .item,
.top-product {
    height: 100%;
    padding-left: 1px;
}

#top-products-carousel .price {
    margin-top: auto;
}

.frase-efeito {
    display: inline-block;
}

#billing_cnpj_field .optional,
#billing_cnpj_field .obrigatório,
#billing_cnpj_field .required {
    display: initial !important;
}

.woocommerce-address-fields #billing_cnpj_field, .woocommerce-address-fields #billing_company_field {
    display: block!important;
}

#modal-term .tm-cart-edit-options {
    display: none;
}