@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gt9ipq');
  src:  url('fonts/icomoon.eot?gt9ipq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gt9ipq') format('truetype'),
    url('fonts/icomoon.woff?gt9ipq') format('woff'),
    url('fonts/icomoon.svg?gt9ipq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share-2:before {
  content: "\ea82";
}
.icon-office:before {
  content: "\e908";
}
.icon-mobile-2:before {
  content: "\e959";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin-2:before {
  content: "\eaca";
}
.icon-nav-right:before {
  content: "\e90a";
}
.icon-nav-left:before {
  content: "\e90b";
}
.icon-like:before {
  content: "\e909";
}
.icon-padlock:before {
  content: "\e906";
}
.icon-user-2:before {
  content: "\e907";
}
.icon-nav-bottom:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e904";
}
.icon-search-2:before {
  content: "\e900";
}
.icon-shopping-cart:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-sebrae:before {
  content: "\e903";
}
